<div class="container-fluid text-center">
  <div class="row content">

      <h1>Listing programs</h1>
      <p id="error"><%= flash[:error] %></p>

      <div class="list-toolbar">
        <%= link_to 'New Program', new_program_path, :class => 'btn btn-large btn-primary' %>
      </div>

  </div>
</div>



<div class="container-fluid">
  <div class="list">

    <div class="row margin-0 list-header hidden-sm hidden-xs" style="padding: inherit">
      <div class="col-md-3"><div class="header">Program</div></div>
      <div class="col-md-2"><div class="header">Editor</div></div>
      <div class="col-md-2"><div class="header">OS</div></div>
      <div class="col-md-5"><div class="header">Description</div></div>
    </div>

    <% @programs.each do |program| %>
        <div class="row margin-0" onclick="location.href='<%= program_path(program) %>';" style="cursor: pointer;">

          <div class="col-md-3">
            <div class="cell">
              <div class="program">
                <%= program.name %>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="cell">
              <div class="editor">
                <%= program.editor.name %>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="cell">
              <div class="os">
                <% if program.compatibility[0] == '1' %>
                  <i class="fa fa-linux" aria-hidden="true"></i>
                <% end %>
                <% if program.compatibility[1] == '1' %>
                  <i class="fa fa-windows" aria-hidden="true"></i>
                <% end %>
                <% if program.compatibility[2] == '1' %>
                  <i class="fa fa-apple" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="cell">
              <div class="description">
                <%= program.short_desc %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>

