<%= form_for @version do |v| %>
    <div class="form-group">
      <%= v.label :name, "Version's name", class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label :website, class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.text_field :website, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label "Release date", class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.text_field :date, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label :distrilog, class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.check_box :distrilog, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label "Download link", class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.text_field :install_link, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label :presentation, class: "col-md-4 control-label" %><br>
      <div class="col-md-8">
        <%= v.text_area :presentation, class: "form-control" %>
      </div>
    </div>
<% end %>