<%= form_for @software do |f| %>
    <% if @software.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@software.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @software.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :editor_id %><br>

      <%= f.select :editor_id, options_for_select(@editors.all.map{|e|[e.name, e.id]}) %>
    </p>

    <% if @software.new_record? %>
        <%= fields_for @version do |v| %>
            <%= render 'versions/form' %>
        <% end %>
    <% end %>

    <p>
      <%= f.submit %>
    </p>

<% end %>
