<div class="container-fluid">

  <h1><%= @software.name %></h1>

  <div class="show-header">

    <div class="editor">
      <b>Editor : </b>
      <%= @software.editor.name %>
    </div>

    <div class="right-column">
      <label class="control-label">Version : </label>
      <%= select_tag :version, options_for_select(@versions.all.map{|v|[v.name, v.id]}), {class: "form-control", id: "select-version"} %>
      <br>
      <%= link_to 'New version', new_software_version_path(software_id: @software.id), {:class => 'btn btn-large btn-primary'} %>
    </div>
  </div>

  <hr>

  <!--
  /!\
  All the fields in this area are filled with JQuery
  See assets/javascript/softwares.coffee
  -->
  <div class="version-header">
    <strong><%= @software.name %></strong>
    <div id="version-name"></div>
  </div>

  <div class="version-details">
    <div class="version-os">
      <div class="col-md-3"><strong>OS</strong></div>
      <div id="version-os" class="col-md-3"></div>
    </div>

    <div class="version-distrilog">
      <div class="col-md-3"><strong>Distrilog</strong></div>
      <div id="version-distrilog" class="col-md-3"></div>
    </div>

    <div class="version-date">
      <div class="col-md-3"><strong>Release date</strong></div>
      <div id="version-date" class="col-md-3"></div>
    </div>

    <div class="col-md-6">
      <div class="link-buttons">
        <a id="doc-link" class="btn btn-large btn-primary" href="#">Visit website</a>
        <a id="dl-link" class="btn btn-large btn-primary" href="#">Download</a>
      </div>
    </div>
  </div>


  <%= link_to 'Back', softwares_path %>
  <%= link_to 'Edit', edit_software_path(@software) %>
</div>