<%= form_for @editor do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :website %><br>
      <%= f.text_field :website%>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
