<p id="notice"><%= notice %></p>

<h1>Editors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
  </tr>

  <% @editors.each do |editor| %>
      <tr>
        <td><%= editor.name %></td>
        <td><%= editor.website %></td>
        <td><%= link_to 'Show', editor_path(editor) %></td>
        <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
        <td><%= link_to 'Destroy', editor_path(editor),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Editor', new_editor_path %>
