<%= form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :secret_url %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :secret_message %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :secret_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
