<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @secret.url %>
</p>

<p>
  <strong>Message:</strong>
  <%= @secret.message %>
</p>

<p>
  <strong>Password:</strong>
  <%= @secret.password %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
